:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;

    color: #c3c3c3;
    /*background-color: #f6f6f6;*/
    /*color: #f6f6f6;*/
    background-color: #2f2f2f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    user-select: none;
    overflow: hidden;
}

.container {
    margin: 0;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo {
    height: 3em;
    /*padding: 1.5em;*/
    will-change: filter;
    transition: 0.75s;
    padding-bottom: 0.5vh;
}

.logo.ferrocrypt:hover {
    filter: drop-shadow(0 0 2em #24c8db);
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.helper {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    /*color: #c3c3c3;*/
}

.parent {
    margin-bottom: 20px;
    text-align: left;
}

.child {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    /*color: #c3c3c3;*/
}

input {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 0.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #c3c3c3;
    background-color: #202020;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

input:disabled {
    cursor: default !important;
    background-color: #272727;
    position: relative;
}

.disabled {
    color: #777777;
}

hr.solid {
    height: 1px;
    border: none;
    border-radius: 2px;
    background: #a3a3a3;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    /*color: #535bf2;*/
    color: #24c8db;
}

h1 {
    text-align: center;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #c3c3c3;
    cursor: pointer;
    background-color: #3b3b3b;
    transition: border-color 0.25s;
}

button:hover:enabled {
    border-color: #396cd8;
}

button:active:enabled {
    /*border-color: #396cd8;*/
    /*background-color: #e8e8e8;*/
    background-color: #0f0f0f69;
}

button:enabled {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button:disabled {
    cursor: default !important;
    color: #777777;
}

.visibility-icon {
    margin-left: 7px;
    margin-top: 8px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.match-icon {
    margin-left: 7px;
    margin-top: 8px;
    width: 24px;
    height: 24px;
}

.match-icon-hidden {
    margin-left: 7px;
    margin-top: 8px;
    width: 24px;
    height: 24px;
    visibility: hidden
}

.spacer-15 {
    margin-left: 15px;
}


/*checkbox and radio button*/

.cbx {
    position: relative;
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: #606062;
    background-image: linear-gradient(#474749, #606062);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15), inset 0 -1px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.15s ease;
}

.cbx svg {
    position: absolute;
    top: 3px;
    left: 3px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 17;
    stroke-dashoffset: 17;
    transform: translate3d(0, 0, 0);
}

.cbx + span,
.rdo + span {
    float: left;
    margin-left: 6px;
}

.rdo {
    position: relative;
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: #606062;
    background-image: linear-gradient(#474749, #606062);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15), inset 0 -1px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.15s ease;
}

.rdo:after {
    content: "";
    position: absolute;
    display: block;
    top: 6px;
    left: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transform: scale(0);
}

.cbx-form {
    /*margin: auto;*/
    user-select: none;
    text-align: left;
    margin-bottom: 10px;
}

.cbx-form label {
    display: inline-block;
    margin-left: 7px;
    /*cursor: pointer;*/
}

.cbx-form input[type="checkbox"],
.cbx-form input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.cbx-form input[type="radio"]:checked + .rdo {
    background-color: #606062;
    background-image: linear-gradient(#255cd2, #1d52c1);
}

.cbx-form input[type="radio"]:checked + .rdo:after {
    opacity: 1;
    transform: scale(1);
    transition: all 0.15s ease;
}

.cbx-form input[type="checkbox"]:checked + .cbx {
    background-color: #606062;
    background-image: linear-gradient(#255cd2, #1d52c1);
}

.cbx-form input[type="checkbox"]:checked + .cbx svg {
    stroke-dashoffset: 0;
    transition: all 0.15s ease;
}

.cbx-form input[type="checkbox"]:disabled + .cbx + .cbx-label {
    color: #777777 !important;
    /*cursor: default !important;*/
}


/*input,*/
/*button {*/
/*  !*outline: none;*!*/
/*  color: #ffffff;*/
/*  background-color: #0f0f0f98;*/
/*}*/

/*#greet-input {*/
/*    margin-right: 5px;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        color: #f6f6f6;*/
/*        background-color: #2f2f2f;*/
/*    }*/

/*    a:hover {*/
/*        color: #24c8db;*/
/*    }*/

/*    input,*/
/*    button {*/
/*        color: #ffffff;*/
/*        background-color: #0f0f0f98;*/
/*    }*/

/*    button:active {*/
/*        background-color: #0f0f0f69;*/
/*    }*/
/*}*/
